.nutrionalPreferencesForm {
  display: flex;
  gap: 13px;
  flex-direction: column;
  font-size: 14px;
  margin-top: -20px;
  margin-bottom: 20px;
}

.selectPlan {
  font-weight: 300;
  margin-top: 20px;
}

@media (max-width: 600px) {
  .selectPlan {
    font-size: 14px;
  }
}
