@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Barlow", sans-serif;
  overflow-x: hidden !important;
  background: radial-gradient(at left top, rgb(241, 245, 249), white, white);
}

.App {
  overflow: hidden;
}

.form {
  display: flex;
  flex-direction: column;
}

.AgeGenderPage {
  display: flex;
  flex-direction: column;
}

.WeightPage {
  display: flex;
  flex-direction: column;
}

.pageContent p {
  width: 40%;
  margin-bottom: 30px;
}

/* Get stated page styling */

.GetStarted {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.GetStartedHero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.HomepageLogo {
  max-width: 100%;
  margin: 0px 50px;
  object-fit: cover;
}

@media (max-width: 500px) {
  .HomepageLogo {
    width: 80%;
  }
}

.GetStartedInfo {
  display: flex;
  flex-direction: row;
  width: 80%;
  gap: 100px;
}

.GetStartedContact {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  width: 80%;
  gap: 100px;
}

.GetStartedContactRight {
  width: 70%;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 40px;
}

.GetStartedContactLeft {
  width: 30%;
  display: flex;
  gap: 30px;
}

.GetStartedRight {
  width: 50%;
  display: flex;
  gap: 30px;
}

.GetStartedLeft {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.imageGridLeft {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 60px;
}

.imageGridRight {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 150px;
}

.RightSideImage {
  width: 250px;
}

.GetStartedPara {
  font-family: "Barlow", sans-serif;
  font-weight: 300;
  margin-bottom: 30px;
  line-height: 1.5;
  margin-bottom: 20px;
  margin-top: 0;
  padding: 0;
}

.GetStartedSubHeader {
  margin-bottom: 10px;
  padding: 0;
  font-size: 40px;
}

.GetStartedMidSectionSubHeader {
  margin-bottom: 10px;
  padding: 0;
  font-size: 40px;
}

.MealCard {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 3px;
  background-color: white;
}

/* Mid Section Homepage */

.GetStartedMidSection {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
}

.MealContainer {
  width: 80%;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
  background-color: white;
  margin-top: 30px;
}

.PlanContainer {
  width: 25%;
  display: flex;
  padding: 20px;
  flex-direction: column;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  gap: 10px;
  cursor: pointer;
}

.PlanContainer:hover > .PlanHeader {
  color: #00a86b;
}

.Icon {
  color: #00a86b;
}

.IconContainer {
  padding: 10px;
  background-color: rgb(241, 245, 249);
  width: fit-content;
  border-radius: 50px;
  padding: 15px;
}

.PlanHeader {
  margin: 0;
  font-weight: 500;
  transition: 0.3s;
}

.PlanDescription {
  font-family: "Barlow", sans-serif;
  font-weight: 300;
  margin: 0;
  line-height: 1.5;
  color: gray;
  font-size: 14px;
}

/* Titles */

.HeroTitle {
  font-family: "Bebas Neue", cursive;
  margin: 0;
  font-size: 100px;
  padding: 0;
}

h1 {
  margin: 0px;
  letter-spacing: 0.1px;
  font-size: 30px;
}

.getStartedText {
  font-family: "Barlow", sans-serif;
  font-weight: 300;
  margin: 0;
  text-align: center;
}

/* NavBar */

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: white;
  margin: 0 !important;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  position: fixed;
  z-index: 10;
  top: 0;
  overflow: hidden;
  width: 100vw;
}

.navbarItems {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-right: 40px;
}

.navabarItem {
  list-style: none;
}

.headerLogo {
  width: 100%;
  height: 25px;
  object-fit: cover;
}

/* AgeGender */
.ageInput {
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border-radius: 4px;
  padding-left: 10px;
  width: 100px;
  font-family: "Barlow", sans-serif;
  border: 1px #f5f5f5 solid;
  height: 33px;
}

.InputStyle {
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border-radius: 4px;
  padding-left: 10px;
}

.invalidInput {
  color: red;
  font-size: 13px;
  margin-top: 20px;
  margin-bottom: 0;
}

.confirmation p {
  margin-bottom: 0;
  width: 100%;
}

.pageDesign {
  display: flex;
  height: 100vh;
  overflow: hidden;
  width: 100% !important;
  overflow-x: hidden !important;
  background: radial-gradient(at left top, rgb(241, 245, 249), white, white);
}

@media (max-width: 450px) {
  .pageDesign {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.leftSide {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  align-items: center;
  justify-content: center;
  z-index: 100;
  justify-content: space-between;
  padding: 20px;
}

.topHalf {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: calc(100vh - 50px);
}

.buttonGroup {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  bottom: 0;
  margin-bottom: 40px;
}

.Button {
  padding: 10px 40px 10px 40px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.3s;
  background: #00a86b;
  color: white;
  font-family: "Barlow", sans-serif;
}

@media (max-width: 450px) {
  .Button {
    padding: 10px 30px 10px 30px;
    font-size: 15px;
  }
  .ageInput {
    border: 1px solid rgb(206, 201, 201);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 2px;
  }
}

.Button:hover {
  opacity: 0.7;
}

.mealPlanButton .Button:hover {
  opacity: 0.9;
}

.BackButton:hover {
  opacity: 0.9;
}

.select-dropdown,
.select-dropdown * {
  font-family: "Barlow", sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
  width: 10rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.select-dropdown {
  position: relative;
  background-color: #e6e6e6;
  border-radius: 4px;
}
.select-dropdown select {
  font-size: 14px;
  font-weight: normal;
  width: 100%;
  padding: 10px 26px 10px 12px;
  border: none;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}
.select-dropdown select:active,
.select-dropdown select:focus {
  outline: none;
  box-shadow: none;
}
.select-dropdown:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 8px;
  width: 0;
  height: 0;
  margin-top: -2px;
  border-top: 5px solid #aaa;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

.paraText {
  font-family: "Barlow", sans-serif;
  font-weight: 300;
  margin-bottom: 30px;
  line-height: 1.5;
  padding-right: 20px;
}

.paraTextNutrition {
  font-family: "Barlow", sans-serif;
  font-weight: 300;
  line-height: 1.5;
  padding-right: 20px;
}

.ageGenderContainer {
  display: flex;
  gap: 50px;
}

.weightInputContainer {
  display: flex;
  gap: 30px;
}

.weightContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.weightInput {
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border-radius: 4px;
  padding-left: 10px;
  width: 140px;
  font-family: "Barlow", sans-serif;
  border: 1px #f5f5f5 solid;
  height: 33px;
}

@media (max-width: 450px) {
  .weightContainer {
    flex-direction: column;
    gap: 20px;
  }
  .weightInput {
    border: 1px solid rgb(206, 201, 201);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 2px;
  }
}

.rightSide {
  height: 100vh;
  width: 40%;
  overflow: none;
}

.rightSideImage {
  height: auto;
  left: 0;
  margin: 0;
  min-height: auto;
  padding: 0;
  top: 0;
  width: 100%;
  background-size: cover;
}

.PlanListItem {
  list-style: none;
  font-size: 14px;
  margin-bottom: 10px;
  margin-right: 20px;
}

.detailsList {
  display: flex;
  flex-direction: column;
  margin: 0px;
}

.IntakeListItem {
  list-style: none;
  font-size: 17px;
  margin-bottom: 10px;
  margin-right: 20px;
}

.nutrionalPreferencesForm {
  display: flex;
  gap: 13px;
  flex-direction: column;
  font-size: 14px;
  margin-top: 20px;
}

.checkbox-wrapper-2 .checkboxStyle {
  appearance: none;
  background-color: #dfe1e4;
  border-radius: 72px;
  border-style: none;
  flex-shrink: 0;
  height: 20px;
  margin: 0;
  position: relative;
  width: 30px;
}

.checkbox-wrapper-2 .checkboxStyle::before {
  bottom: -6px;
  content: "";
  left: -6px;
  position: absolute;
  right: -6px;
  top: -6px;
}

.checkbox-wrapper-2 .checkboxStyle,
.checkbox-wrapper-2 .checkboxStyle::after {
  transition: all 100ms ease-out;
}

.checkbox-wrapper-2 .checkboxStyle::after {
  background-color: #fff;
  border-radius: 50%;
  content: "";
  height: 14px;
  left: 3px;
  position: absolute;
  top: 3px;
  width: 14px;
  cursor: pointer;
}

.checkbox-wrapper-2 input[type="checkbox"] {
  cursor: default;
}

.checkbox-wrapper-2 .checkboxStyle:hover {
  background-color: #c9cbcd;
  transition-duration: 0s;
}

.checkbox-wrapper-2 .checkboxStyle:checked {
  background-color: #32de84;
}

.checkbox-wrapper-2 .checkboxStyle:checked::after {
  background-color: #fff;
  left: 13px;
}

.checkbox-wrapper-2 :focus:not(.focus-visible) {
  outline: 0;
}

.checkbox-wrapper-2 .checkboxStyle:checked:hover {
  background-color: #32de84;
}

.labelName {
  position: relative;
  margin-top: -10px;
}

.checkbox-wrapper-2 input[type="checkbox"] + label {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  margin-left: 5px;
}

.buttonList {
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* margin-top: 10px; */
}

.mealPlanButton {
  background-color: white;
  padding: 10px;
  height: 50px;
  font-family: "Barlow", sans-serif;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  cursor: pointer;
  font-size: 14px;
  border: none;
  transition: 0.3s;
  border-radius: 5px;
  border: 1px solid #dcdcdc;
}

.selectedMealPlanButton {
  height: 50px;
  padding: 10px;
  font-family: "Barlow", sans-serif;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  cursor: pointer;
  font-size: 14px;
  border: none;
  background: #00a86b;
  color: white;
  transition: 0.3s;
  border-radius: 5px;
  border: 1px solid #696969;
}

.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgb(111, 111, 111, 0.5);
  z-index: 9;
}

/* Footer */

.FooterDiv {
  width: 100%;
  background-color: white;
  padding: 20px;
  box-shadow: 0px 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 450px) {
  .FooterLogoContainer {
    width: 30%;
  }
  .navbarLogo {
    width: 30%;
  }
}

.FooterHeader {
  margin-top: 10px;
}

.FooterSocial {
  display: flex;
  flex-direction: row;
  padding: 10px;
  gap: 10px;
}

.FooterText {
  font-family: "Barlow", sans-serif;
  font-weight: 300;
  margin: 0;
  line-height: 1.5;
  font-size: 14px;
}

.copyright {
  font-size: 13px;
  margin: 0;
}

.footerLogo {
  width: 100%;
  height: 30px;
  object-fit: cover;
}

/* Contact Form */

.ContactForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.ContactInput {
  width: 50%;
  font-family: "Barlow", sans-serif;
  padding: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border-radius: 4px;
  border: 1px #f5f5f5 solid;
  border-radius: 5px;
}

.ContactTextArea {
  font-family: "Barlow", sans-serif;
  padding: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border-radius: 4px;
  border: 1px #f5f5f5 solid;
  border-radius: 5px;
}

.FormButton {
  padding: 10px 40px 10px 40px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.3s;
  background: #00a86b;
  color: white;
  font-family: "Barlow", sans-serif;
  width: 30%;
}

.FormButton:hover {
  opacity: 0.9;
}

.navbarButton {
  background-color: transparent;
  border: none;
}

.navbarLogo {
  cursor: pointer;
  transition: 0.3s;
  margin-top: 4px;
}

.navbarLogo:hover {
  opacity: 0.7;
}

/* Personal details page */
.personalDetailsPage {
  padding: 0px 20px;
  height: 100vh;
}

/* -------------------------------------------------------------- MOBILE ------------------------------------------------------------ */

@media (max-width: 450px) {
  /* Mobile Home Page and NavBar */

  .HeroTitle {
    font-size: 50px;
  }
  .HeaderLogo {
    font-size: 2rem;
  }
  .getStartedText {
    font-size: 14px;
    width: 90%;
  }
  .GetStartedInfo {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .GetStartedPara {
    padding-right: 30px;
    width: 90%;
  }
  .GetStartedLeft {
    width: 90%;
    padding: 20px;
  }
  .GetStartedSubHeader {
    margin-bottom: 3px;
    font-size: 25px;
  }
  .GetStartedRight {
    width: 90%;
    display: flex;
    padding: 20px;
    flex-direction: column;
    gap: 0px;
  }
  .imageGridLeft {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 10px;
    width: 90%;
  }
  .imageGridRight {
    display: none;
  }

  /* Mobile Footer */

  .FooterText {
    font-weight: 300;
    text-align: left;
    font-size: 12px;
    width: 90%;
  }

  .FooterDiv {
    width: 100%;
    background-color: white;
    box-shadow: 0px 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start !important;
    align-items: flex-start !important;
    padding-left: 20px;
  }
  .ageGenderContainer {
    display: flex;
    gap: 50px;
  }

  .leftSide {
    height: 100%;
  }
}

@media (max-width: 850px) {
  /* Mobile Home Page and NavBar */

  .GetStartedInfo {
    flex-direction: column;
  }
  .GetStartedRight {
    width: 100%;
  }
  .GetStartedLeft {
    width: 100%;
  }
  .imageGridRight {
    padding-top: 0px;
  }
  .imageGridLeft {
    padding-top: 0px;
  }
  .GetStartedMidSection {
    width: 90%;
    align-items: flex-start;
    margin-top: 20px;
  }
  .GetStartedMidSectionSubHeader {
    margin-bottom: 1px;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: -20px;
  }
  .MealContainer {
    width: 100%;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    background-color: white;
  }
  .PlanContainer {
    width: 90%;
  }
}

@media (max-width: 1100px) {
  .rightSide {
    display: none;
  }
  .leftSide {
    width: 100% !important;
    padding: 20px !important;
  }
}

@media (max-width: 600px) {
  .ageGenderContainer {
    flex-direction: column;
    gap: 20px;
  }
  .weightInputContainer {
    flex-direction: column;
    gap: 20px;
  }
  .IntakeListItem {
    font-size: 15px;
  }
  .paraText {
    font-size: 14px;
  }
}

@media (max-width: 375px) {
  .paraText {
    font-size: 12px;
  }
  .IntakeListItem {
    font-size: 13px;
  }
  h1 {
    font-size: 20px;
  }
}
